body
{
    background-color: black;

}

.content
{
    background-color: grey;
    border-radius: 25px;
    width: 80%;
    margin: auto;
}

h2 
{
    font-size: 2.5em;
    text-align: center;
    font-weight: bold;
    border: red 2px solid;
    border-radius: 25px;
    margin: 12px 0;
    padding: 12px;
}

nav 
{
    display: flex;
    justify-content: space-around;
}

nav a 
{
    font-size: 1.2rem;
    text-decoration: none;
    background-color: black;
    border-radius: 15px;
    color: white;
    margin-bottom: 16px;
    padding: 12px;
}

nav a:hover
{
    color: blue;
}

.container
{
    margin: 15px;
}

.hover_box-text
{
   
    font-weight: bold;
    background-color: black;
    border-radius: 15px;
    padding: 5px;
}

main
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container_text
{
    width: 600px;
    
    text-align: center;
    padding: 20px;    
}

h3
{
    font-size: 2em;
    font-weight: bold;
    text-decoration: underline;
    padding: 16px;
}

h4
{
    font-size: 1.5em;
    padding-bottom: 20px;
    color: blue;
}

.container_text p
{
    text-align: left;
}

.container_text, .container
{
    margin-bottom: 200px;
}

footer
{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 200px;
}

footer h4
{
    padding: 0, 30px 0 16px;
}

footer span
{
    font-size: 1.5em;
}

footer ul
{
    padding-right: 20px;
}

li
{
    font-size: 1.6em;
}