body
{
    background-color: black;

}

.content
{
    background-color: grey;
    border-radius: 25px;
    width: 80%;
    margin: auto;
}

h2 
{
    font-size: 2.5em;
    text-align: center;
    font-weight: bold;
    border: red 2px solid;
    border-radius: 25px;
    margin: 12px 0;
    padding: 12px;
}

nav 
{
    display: flex;
    justify-content: space-around;
}

nav a 
{
    font-size: 1.2rem;
    text-decoration: none;
    background-color: black;
    border-radius: 15px;
    color: white;
    margin-bottom: 16px;
    padding: 12px;
}

nav a:hover
{
    color: blue;
}

.container
{
    margin: 15px;
}

img
{
    border-radius: 15px;
}

.container a
{
    color: white;
    text-decoration: none;
}

.container a:hover
{
    color: blue;
}

.hover_box-text
{
   
    font-weight: bold;
    background-color: black;
    border-radius: 15px;
    padding: 5px;
}

main
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container_text
{
    width: 600px;
    
    text-align: center;
    padding: 20px;    
}

h3
{
    font-size: 2em;
    font-weight: bold;
    text-decoration: underline;
    padding: 16px;
}

h4
{
    font-size: 1.5em;
    padding-bottom: 20px;
    color: blue;
}

.container_text p
{
    font-size: 1.3em;
    font-weight: bold;
    padding-top: 25px;
}

.tech
{
    text-align: left;
}

.container_text, .container
{
    margin-bottom: 200px;
}

footer
{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 200px;
}

footer h4
{
    padding: 0, 30px 0 16px;
}

footer span
{
    font-size: 1.5em;
}

footer ul
{
    padding-right: 20px;
}

li
{
    font-size: 1.6em;
    padding-bottom: 12px;
}

.mainWeb
{
    display: flex;
    flex-direction: column;
}

.mainWeb h3
{
    text-align: center;
    padding-bottom: 25px;
}

.sectionWeb
{
    text-align: center;
    padding: 25px 16px;
    display: flex;
    justify-content: space-between;
}

.sectionWeb button
{
    padding: 8px;
    font-weight: bold;
    box-shadow: 8px 8px 12px #aaaaaa;
    border-radius: 10px;
}

h5
{
    text-align: center;
}

.formulaire
{
    /*text-align: center;*/
    border: blue 2px solid;
    border-radius: 15px;
    width: 30%;
    height: 550px;
    margin: auto;
    background-color: black;
    box-shadow: 8px 8px 12px blue;
    color: green;
    font-weight: bold;
    padding: 16px 25px;
    margin-bottom: 100px;
}

.formulaire .entry
{
    text-align: center;
    padding-top: 25px;
}

.formulaire input
{
    background-image: linear-gradient(to bottom right, #888, #eee);
    box-shadow: 1px 1px 1px white,
              inset 2px 3px 5px rgba(0,0,0,0.3),
              inset -2px -3px 5px rgba(255,255,255,0.5);
    border-radius: 10px;
    height: 30px;
    font-size: 1.2em;
    font-weight: bold;
}

.formulaire textarea
{
    width: 270px;
    margin-top: 8px;
}

.formulaire select
{
    width: 270px;
    font-size: 1.2em;
}

.formulaire .submit
{
    width: 270px;
    height: 30px;
    font-size: 1.2em;
    font-weight: bold;
}